.fv-main-layout{
	margin: 4em auto 0;
	width: 60%;
	padding: 2em;
}
.fv-layout-video{
	width: 100%;
}
.fv-video-base h1{
	font-size: 20px;
	font-weight: normal;
	float: left;
}
.fv-base-viewTimes{
	position: relative;
	float: right;
}
.fv-base-viewTimes span{
	height: 32px;
	width:32px;
	display: inline-block;
	background: url('../../image/video-img/fv-video-viewtimes.png');
	float: left;
}
.fv-base-viewTimes p{
	font-size: 16px;
	position: relative;
	top:0.3em;
	margin-left: 1em;
	float: left;
}
.fv-video-des{
	margin-top:2em;
	font-family: "Î¢ÈíÑÅºÚ";
	width: 100%;
	font-size:16px;
	
}
.fv-video-des p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;	
	-webkit-line-clamp: 2;

}
.fv-layout-comment{
	margin-top:2em;
	position: relative;
	color:#C5C0C0;
}
.fv-publish-title a{
	position: absolute;
	right: 0;
	font-size:12px;
}
.fv-publish-title strong{
	font-size: 20px;
	color:#000;
}
.fv-publish-content{
	margin-top: 1em;
}
.fv-publish-content textarea{
	font-size:16px;
	width: 100%;
	height: 6em;
}
.fv-sub-tips{
	color:#00ceff;
	font-size:12px;
}
.fv-comment-all{
	h
	margin-top: 1em;
}
.fv-comment-all ul{
	height:460px;
	overflow:hidden;
	position:relative;
}
.fv-comment-all h1{
	margin-bottom: 0.5em;
	font-size: 20px;
	color:#000;
	font-weight: noraml;
}
.fv-comment-all li{
	font-size:15px;
	color:#000000;
	height:3em;
	position:absolute;
	border-top: 1px solid #C5C0C0;
	width: 100%;overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;	
	-webkit-line-clamp: 2;
}
.fv-comment-all li p{
	display:inline;
	font-size:18px;
	color:#000000;
}
.fv-all-page{
	height:3em;
	color:#fff;
	font-size:14px;
}
.fv-all-page span{
	cursor:pointer;
	padding:3px;
	border:1px solid #d1caca;
	background:rgba(0,0,0,0.8);
	border-radius:5px;
	float:right;
}